@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.control-panel-wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.6);
  color: #000000;
  font-family: 'Fraunces', serif;
}

.control-panel-wrapper .control-panel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 600px;
  background-color: #FFF;
  padding: 10px;
}

.control-panel-wrapper .control-panel div[class*="col_"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 180px;
  margin: 10px;
  background: #d3d3d3;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.control-panel-wrapper .control-panel div[class*="col_"]:hover {
  background: rgba(211, 211, 211, 0.7);
}

.control-panel-wrapper .control-panel div[class*="col_"].on {
  background: #aaca85;
}

.control-panel-wrapper .control-panel div[class*="col_"].on:hover {
  background: rgba(170, 202, 133, 0.7);
}

.control-panel-wrapper .control-panel div[class*="col_"].col_1 {
  width: 180px;
}

.control-panel-wrapper .control-panel div[class*="col_"].col_2 {
  width: 380px;
}

.control-panel-wrapper .control-panel div[class*="col_"] > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: 900;
  background-color: darkgrey;
}

.control-panel-wrapper .control-panel div[class*="col_"] > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.control-panel-wrapper .control-panel div[class*="col_"][data-type="interval"] > p {
  margin: 0px;
  margin-top: 40px;
}

.control-panel-wrapper .control-panel div[class*="col_"][data-type="switch"] > p {
  margin: 0px;
  margin-top: 20px;
}

.control-panel-button {
  position: fixed;
  bottom: 0;
  background-color: mediumaquamarine;
  width: 50px;
  height: 50px;
  border-radius: 0 100% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.control-panel-button svg {
  padding: 15%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.control-panel-button:hover {
  width: 60px;
  height: 60px;
}

.control-panel-button:hover svg {
  width: 28px;
  height: 28px;
}

.control-panel-wrapper .range-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

.control-panel-wrapper .range-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.control-panel-wrapper .range-wrapper > div > span {
  text-align: center;
}

.control-panel-wrapper .range-wrapper > div > span:first-of-type {
  font-weight: bold;
}

.control-panel-wrapper [data-type="switch"] .panel-type-label {
  margin-top: 20px;
}

.control-panel-wrapper .panel-type-label {
  margin: 0;
  text-align: center;
  font-size: 12px;
}

.control-panel-wrapper .switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 8px 10px;
}

.control-panel-wrapper .switch-wrapper > input {
  display: none;
}

.control-panel-wrapper .switch-wrapper > input[type="radio"]:checked + label {
  border: 2px solid darkgreen;
}

.control-panel-wrapper .switch-wrapper > label {
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  opacity: 0.3;
}

.control-panel-wrapper [class*="col_"].on .switch-wrapper > label {
  opacity: 1;
}

.border-bottom > * {
  border-bottom: 1px solid #000000;
}

.margin > * {
  margin: 30px auto;
}

.interval .interval-hide {
  display: none !important;
}

.grid[grid-color="black"] table,
.grid[grid-color="black"] th,
.grid[grid-color="black"] td {
  -webkit-box-shadow: black 0 0 0 0.5px;
          box-shadow: black 0 0 0 0.5px;
}

.grid[grid-color="white"] table,
.grid[grid-color="white"] th,
.grid[grid-color="white"] td {
  -webkit-box-shadow: white 0 0 0 0.5px;
          box-shadow: white 0 0 0 0.5px;
}

.grid[grid-color="red"] table,
.grid[grid-color="red"] th,
.grid[grid-color="red"] td {
  -webkit-box-shadow: red 0 0 0 0.5px;
          box-shadow: red 0 0 0 0.5px;
}

.grid[grid-color="aqua"] table,
.grid[grid-color="aqua"] th,
.grid[grid-color="aqua"] td {
  -webkit-box-shadow: aqua 0 0 0 0.5px;
          box-shadow: aqua 0 0 0 0.5px;
}

.grid div {
  border-color: inherit;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/*# sourceMappingURL=email-frontend-tool.css.map */