@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.control-panel-outer {
  position: fixed;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(18, 18, 18, 0.6);
  color: hsl(160deg, 50%, 10%);
  font-family: "Fraunces", serif;
  min-width: 320px;
  box-sizing: border-box;
  z-index: 999999;
}
.control-panel-outer * {
  box-sizing: border-box;
}
.control-panel-outer .control-panel-inner {
  transition: transform 0.2s cubic-bezier(0.78, -0.07, 0.28, 0.98);
  margin: 0 10px;
}
.control-panel-outer .control-panel {
  position: relative;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 4px;
  overflow: visible;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}
.control-panel-outer .control-panel div[class*=col_] {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  justify-content: center;
  overflow: visible;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 10px;
  margin-bottom: 10px;
}
.control-panel-outer .control-panel div[class*=col_].on .slot-label {
  background: hsl(160deg, 50%, 43%);
  color: hsl(160deg, 50%, 95%);
}
.control-panel-outer .control-panel div[class*=col_] .slot-label {
  display: flex;
  justify-content: space-between;
  background: hsl(160deg, 50%, 95%);
  z-index: 1;
  cursor: pointer;
}
.control-panel-outer .control-panel div[class*=col_] .slot-label > p {
  padding: 10px;
  display: flex;
  align-self: center;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
}
.control-panel-outer .control-panel div[class*=col_] .accordion-arrow {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 900;
  background-color: hsl(285deg, 50%, 43%);
  transform: rotate(180deg);
  cursor: initial;
}
.control-panel-outer .control-panel div[class*=col_] .accordion-arrow::after {
  content: "↑";
  display: block;
  color: hsl(160deg, 50%, 95%);
}
.control-panel-outer .control-panel div[class*=col_].open .accordion-arrow {
  transform: rotate(0);
}
.control-panel-outer .control-panel div[class*=col_] .accordion-content {
  background-color: hsl(160deg, 50%, 85%);
  overflow: hidden;
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 0px;
  transition: max-height 0.2s cubic-bezier(0.78, -0.07, 0.28, 0.98);
}
.control-panel-outer .control-panel div[class*=col_] .accordion-content > div {
  padding-left: 10px;
  padding-right: 10px;
}
.control-panel-outer .control-panel div[class*=col_] .accordion-content > div:first-child {
  padding-top: 10px;
}
.control-panel-outer .control-panel div[class*=col_] .accordion-content > div:last-child {
  padding-bottom: 10px;
}
.control-panel-outer .control-panel div[class*=col_].open .accordion-content {
  max-height: 400px;
}

.control-panel-outer .control-panel div[data-type=interval] {
  min-width: 160px;
}
.control-panel-outer .control-panel div[data-type=switch] {
  min-width: 150px;
}
.control-panel-outer .range-wrapper {
  display: flex;
  margin: 16px 8px 0px;
}
.control-panel-outer .range-wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 3px;
}
.control-panel-outer .range-wrapper > div > span {
  text-align: center;
  font-size: 16px;
}
.control-panel-outer .range-wrapper > div > span:first-of-type {
  font-weight: bold;
  font-size: 11px;
}
.control-panel-outer .range-wrapper input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  max-width: 80px;
  height: 16px;
  background: hsl(285deg, 50%, 95%);
  outline: none;
  border-radius: 4px;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.control-panel-outer .range-wrapper input[type=range]:hover {
  opacity: 1;
}
.control-panel-outer .range-wrapper input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: hsl(285deg, 50%, 85%);
  cursor: pointer;
}
.control-panel-outer .range-wrapper input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: hsl(285deg, 50%, 85%);
  cursor: pointer;
}
.control-panel-outer .on .range-wrapper input[type=range] {
  background: hsl(285deg, 50%, 85%);
}
.control-panel-outer .on .range-wrapper input[type=range]::-webkit-slider-thumb {
  background: hsl(285deg, 50%, 43%);
}
.control-panel-outer .on .range-wrapper input[type=range]::-moz-range-thumb {
  background: hsl(285deg, 50%, 43%);
}
.control-panel-outer .panel-type-label {
  margin: 0;
  text-align: center;
  font-size: 12px;
}
.control-panel-outer .switch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 8px 0;
}
.control-panel-outer .switch-wrapper > input {
  display: none;
}
.control-panel-outer .switch-wrapper > input[type=radio]:checked + label {
  border: 2px solid hsl(285deg, 50%, 43%);
}
.control-panel-outer .switch-wrapper > label {
  width: 25px;
  height: 25px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 0.3;
}
.control-panel-outer .switch-wrapper > label[for=black] {
  background-color: black;
}
.control-panel-outer .switch-wrapper > label[for=white] {
  background-color: white;
}
.control-panel-outer .switch-wrapper > label[for=red] {
  background-color: red;
}
.control-panel-outer .switch-wrapper > label[for=aqua] {
  background-color: aqua;
}
.control-panel-outer [class*=col_].on .switch-wrapper > label {
  opacity: 1;
}
.control-panel-outer .toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: -10px;
}
.control-panel-outer .toggle-wrapper span {
  font-size: 10px;
  font-weight: bold;
}
.control-panel-outer .toggle-wrapper label {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 42px;
  margin: 6px;
}
.control-panel-outer .toggle-wrapper label .toggleSlider {
  background-color: hsl(285deg, 50%, 95%);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.control-panel-outer .toggle-wrapper label .toggleSlider:hover {
  opacity: 1;
}
.control-panel-outer .toggle-wrapper label .toggleSlider:before {
  content: "";
  background-color: hsl(285deg, 50%, 85%);
  bottom: 4px;
  height: 16px;
  left: 4px;
  position: absolute;
  transition: transform 0.4s;
  width: 16px;
  border-radius: 4px;
}
.control-panel-outer .toggle-wrapper label input {
  display: none;
}
.control-panel-outer .toggle-wrapper label input:checked + .toggleSlider:before {
  transform: translateX(18px);
}
.control-panel-outer .on .toggle-wrapper .toggleSlider {
  background: hsl(285deg, 50%, 85%);
}
.control-panel-outer .on .toggle-wrapper .toggleSlider:before {
  background: hsl(285deg, 50%, 43%);
}
.control-panel-outer .inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.control-panel-outer .input {
  flex-basis: 50%;
  overflow: hidden;
  padding: 0 10px;
}
.control-panel-outer .input > span {
  font-weight: bold;
  font-size: 11px;
}
.control-panel-outer .input input {
  width: 100%;
  font-family: inherit;
  border-radius: 0;
  border: none;
  background-color: hsl(160deg, 50%, 95%);
  color: hsl(160deg, 50%, 10%);
  padding: 4px;
  margin: 2px 0;
}

.disabled {
  opacity: 0.4 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.border-bottom > * {
  border-bottom: 1px solid #121212;
}

.margin > * {
  margin: 30px auto;
}

.interval .interval-hide {
  display: none !important;
}

.grid[grid-color=black] table,
.grid[grid-color=black] th,
.grid[grid-color=black] td {
  box-shadow: black 0 0 0 0.5px;
}
.grid[grid-color=white] table,
.grid[grid-color=white] th,
.grid[grid-color=white] td {
  box-shadow: white 0 0 0 0.5px;
}
.grid[grid-color=red] table,
.grid[grid-color=red] th,
.grid[grid-color=red] td {
  box-shadow: red 0 0 0 0.5px;
}
.grid[grid-color=aqua] table,
.grid[grid-color=aqua] th,
.grid[grid-color=aqua] td {
  box-shadow: aqua 0 0 0 0.5px;
}
.grid div {
  border-color: inherit;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.darkmode.isolate-img img {
  isolation: isolate;
}

.darkmode-feature .darkmode-background {
  background: #fff;
  position: fixed;
  pointer-events: none;
  z-index: -10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.darkmode-feature .darkmode-layer {
  position: fixed;
  pointer-events: none;
  background: #fff;
  mix-blend-mode: difference;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.selligent-dynamic div#MASECTION,
.selligent-dynamic div#MACONTAINER {
  border-color: orange;
  border-style: solid;
  border-width: 2px 5px;
  margin-top: 20px;
  position: relative;
  padding: 2px;
}
.selligent-dynamic div#MASECTION::before,
.selligent-dynamic div#MACONTAINER::before {
  content: attr(data-before);
  display: block;
  position: absolute;
  top: -20px;
  left: -5px;
  border: 1px solid orange;
  line-height: 1;
  color: orange;
  background-color: white;
  padding: 4px;
  font-size: 10px;
  font-weight: 400;
}

body {
  position: relative;
}

.preview-overlay {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 100;
  pointer-events: none;
}

.control-panel-button {
  position: fixed;
  bottom: 0;
  background-color: hsl(160deg, 50%, 43%);
  width: 50px;
  height: 50px;
  border-radius: 0 100% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 999999;
}
.control-panel-button * {
  box-sizing: border-box;
}
.control-panel-button svg {
  fill: hsl(160deg, 50%, 95%);
  margin: 15%;
  transition: all 0.3s ease-in-out;
}
.control-panel-button:hover {
  transform-origin: 0% 100%;
  transform: scale(1.1);
}

.control-panel-outer.police:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("https://preview.redd.it/q5a6096y6ia51.png?auto=webp&s=ae860856526b62199852f60555e983cfd9f3c2b1");
  height: 100%;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-animation-name: kf_police_officer;
          animation-name: kf_police_officer;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.78, -0.07, 0.28, 0.98);
          animation-timing-function: cubic-bezier(0.78, -0.07, 0.28, 0.98);
}
.control-panel-outer.police .control-panel {
  overflow: hidden;
  position: relative;
}
.control-panel-outer.police .control-panel div[class*=col_] .slot-label {
  background-color: hsl(160deg, 50%, 95%);
  color: hsl(160deg, 50%, 10%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.78, -0.07, 0.28, 0.98);
          animation-timing-function: cubic-bezier(0.78, -0.07, 0.28, 0.98);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.control-panel-outer.police .control-panel div[class*=col_]:nth-child(odd) .slot-label {
  -webkit-animation-name: kf_police_odd;
          animation-name: kf_police_odd;
}
.control-panel-outer.police .control-panel div[class*=col_]:nth-child(even) .slot-label {
  -webkit-animation-name: kf_police_even;
          animation-name: kf_police_even;
}

@-webkit-keyframes kf_police_odd {
  0% {
    background-color: blue;
    box-shadow: 0px 0px 10px 2px blue;
  }
  50% {
    background-color: red;
    box-shadow: 0px 0px 10px 2px red;
  }
  100% {
    background-color: blue;
    box-shadow: 0px 0px 10px 2px blue;
  }
}

@keyframes kf_police_odd {
  0% {
    background-color: blue;
    box-shadow: 0px 0px 10px 2px blue;
  }
  50% {
    background-color: red;
    box-shadow: 0px 0px 10px 2px red;
  }
  100% {
    background-color: blue;
    box-shadow: 0px 0px 10px 2px blue;
  }
}
@-webkit-keyframes kf_police_even {
  0% {
    background-color: red;
    box-shadow: 0px 0px 10px 2px red;
  }
  50% {
    background-color: blue;
    box-shadow: 0px 0px 10px 2px blue;
  }
  100% {
    background-color: red;
    box-shadow: 0px 0px 10px 2px red;
  }
}
@keyframes kf_police_even {
  0% {
    background-color: red;
    box-shadow: 0px 0px 10px 2px red;
  }
  50% {
    background-color: blue;
    box-shadow: 0px 0px 10px 2px blue;
  }
  100% {
    background-color: red;
    box-shadow: 0px 0px 10px 2px red;
  }
}
@-webkit-keyframes kf_police_officer {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes kf_police_officer {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}/*# sourceMappingURL=email-frontend-tool.css.map */