// main
$color-dark: #121212;
$color-light: #f2f2f2;
$color-overlay: rgba($color-dark, 0.6);

// cols
$color-col-bg: #d3d3d3;
$color-col-bg-active: #aaca85;
$color-col-label: darkgrey;

// components
$color-radio-checked: darkgreen;

// features
$color-grid-black: $color-dark;
$color-grid-white: $color-light;
$color-grid-red: red;
$color-grid-aqua: aqua;
