.control-panel-outer.police {

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-image: url("https://media3.giphy.com/media/jsfplE4WupYuHFOZp1/giphy.gif?cid=ecf05e475nrjsig2nwiygkq5lvzy3d5u7hci8mhsk89kgj2j&rid=giphy.gif&ct=s");
        height: 100%;
        background-size: 360px;
        background-repeat: no-repeat;
        background-position: center bottom;
        animation-name: kf_police_officer;
        animation-duration: 3s;
        animation-timing-function: $easing;
    }

    .control-panel {
        overflow: hidden;
        position: relative;
    }

    .control-panel div[class*="col_"] {
        .slot-label {
            background-color: $color-brand-1-lighter;
            color: $color-text-dark;
            animation-duration: 0.5s;
            animation-timing-function: $easing;
            animation-iteration-count: infinite;
        }

        &:nth-child(odd) .slot-label {
            animation-name: kf_police_odd;
        }

        &:nth-child(even) .slot-label {
            animation-name: kf_police_even;
        }
    }

}

.input .breakpoint:hover {
    font-size: 0px;

    &::after {
        content: "Point Break";
        font-size: 11px;
    }
}

@keyframes kf_police_odd {
    0% {
        background-color: blue;
        box-shadow: 0px 0px 10px 2px blue;
    }

    50% {
        background-color: red;
        box-shadow: 0px 0px 10px 2px red;
    }

    100% {
        background-color: blue;
        box-shadow: 0px 0px 10px 2px blue;
    }
}

@keyframes kf_police_even {
    0% {
        background-color: red;
        box-shadow: 0px 0px 10px 2px red;
    }

    50% {
        background-color: blue;
        box-shadow: 0px 0px 10px 2px blue;
    }

    100% {
        background-color: red;
        box-shadow: 0px 0px 10px 2px red;
    }
}

@keyframes kf_police_officer {
    0% {
        top: 100%;
    }

    100% {
        top: 0%;
    }
}