// disabld feature
.disabled {
    opacity: 0.4 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

// 1 Border
.border-bottom > * {
    border-bottom: 1px solid $color-dark;
}

// 2 Margin
.margin > * {
    margin: 30px auto;
}

// 3 Interval
.interval .interval-hide {
    display: none !important;
}

// 4 Grid
@mixin mix-grid-color($grid-color) {
    table,
    th,
    td {
        box-shadow: $grid-color 0 0 0 0.5px;
    }
}

.grid {
    // border-color: black;
    &[grid-color="black"] {
        @include mix-grid-color($color-grid-black);
    }

    &[grid-color="white"] {
        @include mix-grid-color($color-grid-white);
    }

    &[grid-color="red"] {
        @include mix-grid-color($color-grid-red);
    }

    &[grid-color="aqua"] {
        @include mix-grid-color($color-grid-aqua);
    }

    div {
        border-color: inherit;
    }
}

// 5 Scrollbar
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

// 8 Dark mode
.darkmode.isolate-img {
    img {
        isolation: isolate;
    }
}

.darkmode-feature {
    .darkmode-background {
        background: #fff;
        position: fixed;
        pointer-events: none;
        z-index: -10;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .darkmode-layer {
        position: fixed;
        pointer-events: none;
        background: #fff;
        mix-blend-mode: difference;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

// 9 Selligent dynamic
.selligent-dynamic {
    div#MASECTION,
    div#masection,
    div#MACONTAINER,
    div#macontainer {
        border-color: orange;
        border-style: solid;
        border-width: 2px 5px;
        margin-top: 20px;
        position: relative;
        padding: 2px;

        &::before {
            content: attr(data-before);
            display: block;
            position: absolute;
            top: -20px;
            left: -5px;
            border: 1px solid orange;
            line-height: 1;
            color: black;
            background-color: white;
            padding: 4px;
            font-size: 10px;
            font-weight: 700;
            font-family: sans-serif;
        }
    }
}

// 11 Preview overlay
body {
    position: relative;
}

.preview-overlay {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 100000;
    pointer-events: none;
}
